.rectangle {
    width: 750px;
    height:500px;
    border: 2px solid black;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
}

.aquaband {
    background-color: #00adc6;
    width: 746px;
    height: 165px;
    float: left;
}

.yellowband {
    background-color: #f9e04c;
    width: 746px;
    height: 166px;
    float: left;
}

.triangle {
    width: 0px;
    height: 0px;
    border-top: 250px solid transparent;
    border-bottom: 246px solid transparent;
    border-left: 250px solid #000000;
    position: absolute;
}

.text {
    text-align: center;
}

    /*black equilateral triangle centered at left hoist
    three horizontal aquamarine #00adc6, yellow/gold #f9e04c, aqua bands
    pantone: A-312, Y-115;