.rectangle {
    /*length*/
    width: 750px;
    /*height*/
    height:500px;
    border: 2px solid black;
}

.rec-position {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
}

.aquaband {
    background-color: #00ffd9;
    width: 746px;
    height: 165px;
    float: left;
}

.yellowband {
    background-color: #ffe600;
    width: 746px;
    height: 166px;
    float: left;

}
/*not working---WHY???*/
.triangle {
    width: 0px;
    height: 0px;
    border-top: 50px solid black;
    border-left: 100px solid black;
    border-bottom: 50px solid black;
}

.text {
    text-align: center;
}


    /*black triangle centered at left hoist, 1/3 ht of whole
    three horizontal aquamarine #00ffd9, yellow/gold #ffe600, aquamarine bands
    CMYK--B: 100-0-15-0; Y: 0-10-80-0*/