.rectangle {
    width: 750px;
    height:500px;
    border: 2px solid black;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
}

.text {
    text-align: center;
}


/* white 13/40 of flag area, red 27/40 of area.
red: CMYK 0-90-80-5==#F21830;
5 triangles serving as a severed line
if flag length=100, base of triangle starts at 25 and point of triangle is 15 beyond that
and height of flag is 60*/


/*try this for line, but need to shift left or right instead of top
#base {
  background: red;
  display: inline-block;
  height: 55px;
  margin-left: 20px;
  margin-top: 55px;
    position: relative;
    width: 100px;
}
#base:before {
  border-bottom: 35px solid red;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -35px;
  width: 0;
}*/