body {
  background-color: gray;
}
.rectangle {
    width: 750px;
    height:500px;
    border: 2px solid black;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #F21830;
}

.square {
  width: 25px;
  height: 100px;
  background-color: white;
  float: left;
  display: inline-block;
}


.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 100px solid white;
  border-right: 50px solid transparent;
  display: inline-block;
}


.text {
    text-align: center;
    clear: both;
}

/*make row divs surrounding the white s-tri combos. Use absolute positioning,
then position each row using absolute positioning targeting each, from top 
(not margin-top). So, .row {abso}, .row nthchild(0, 1, 2 etc) { top
  0, 100, 200, etc}*/


/* white 13/40 of flag area, red 27/40 of area.
red: CMYK 0-90-80-5==#F21830;
5 triangles serving as a severed line
if flag length=100, base of triangle starts at 25 and point of triangle is 15 beyond that
and height of flag is 60*/
