body {
    background-image: url(/img/worldMap.jpg);
}

.inner-text{
    padding: 5px 7px;
    border-radius: 10px;
    background-color: rgba(236, 231, 204, 0.6);
}

#map-canvas {
            width: 770px;
            height: 481px;
            margin: auto;
            margin-top: 80px;
            color: #594b00;
            border: 7px double #a18700; 
}

.text {
    text-align: center;
    font-family: "Handlee", serif, sans-serif; 
}

.main-heading {
    margin-top: 40px;
    color: #594b00;
}