body {
    background-image: url(/img/old_map.png);
}

#map-canvas {
            width: 770px;
            height: 481px;
            margin: auto;
            margin-top: 80px;
            color: #594b00;
            border: 7px double #a18700; 
}

.text {
    text-align: center;
    font-family: "Handlee", serif, sans-serif; 
}

h1 {
    margin-top: 40px;
    color: #594b00;
}