body {
    background: url(/img/parks.jpeg) no-repeat center fixed;
    background-size: cover;
    font-family: 'Cantata One', serif;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h2, p {
    margin-top: 100px;
    color: #e7dad8;
    text-shadow: 2px 2px #0d0706;
}

p {
    text-align: left;
}

table, tr, th, td {
    border: 2px solid #0d0706;
    border-collapse: collapse;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    margin: 0 auto;
}

.shadow {
    box-shadow: 4px 4px 2px #0d0706;
}

tr:nth-child(even) {
    background-color: #e7dad8;
}

tr:nth-child(odd) {
    background-color: #c5a49e;
}

.footer {
    text-align: center;
    margin-top: 30px;
}

.btn {
    padding: 10px;
    border: 2px solid #0d0706;
    border-radius: 5px;
    box-shadow: 4px 4px 2px #0d0706;
    background-color: #e7dad8;
    color: #0d0706;
}