body {
    background: url(/img/parks.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: 
}

h2 {
    font-size: 2em;
    text-align: center;
}

h2, p {
    margin-top: 100px;
    color: papayawhip;
    text-shadow: 2px 2px black;
}

p {
    text-align: left;
}

table, tr, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    margin: 0 auto;
}

.shadow {
    box-shadow: 4px 4px 2px black;
}

tr:nth-child(even) {
    background-color: papayawhip;
}

tr:nth-child(odd) {
    background-color: linen;
}

.footer {
    text-align: center;
    margin-top: 30px;
}

.btn {
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 4px 4px 2px black;
    background-color: papayawhip;
    color: black;
}