/*delete this!!!!*/
.temp {
border: 1px dotted black;
}
/*delete that!!!*/

body {
    font-family: "Ubuntu", sans-serif;
    color: #0e1113;
    background-image: url(/img/grey.png);
}

.anchor a {
    visibility: hidden;
    display: block;
    position: relative;
    top: -80px;
}

.navbar {
    background-color: #94aac2;
}

.navbar-header .navbar-brand {
    color: white;
}

hr.style { 
  height: 30px; 
  width: 75%;
  border-style: solid; 
  border-color: #d4dde6; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #d4dde6; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}


.glyphicon {
    font-size: 1.5em;
}

h2 {
    padding-bottom: 20px;
}

.text-size {
    font-size: 16px;
}

/*"Make sure to include this after the core bootstrap css" */
.container-fluid {
    padding-top: 80px;
    padding-bottom: 80px;
}

