body#background {
    background: url(/img/castleBackground.jpg) no-repeat 50% 50% fixed;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}


.wizard {
    
}

.warrior {
  
}

.showMe {
    opacity: 1;
}