body#background {
    background: url(/img/castleBackground.jpg) no-repeat 50% 50% fixed;
    background-size: cover;
}

.position {
    margin-top: 175px;
}

.dialogue {
    display: inline-block;
    width: 50%;
}

.text {
    color: white;
    font-size: 2em;

}

.wizTalk {
    float: left;
}

.warTalk {
    float: right;
}

.objects {
    display: inline-block;
    width: 33%;
}

.container {
    text-align: center;
}

.wizard img {
    margin-top: 200px;
    margin-left: 200px;
}

.warrior img {
  margin-left: 125px;

}

.miniScroll img{
    margin-left: 250px;
    margin-bottom: 260px;

}

.showMe {
    opacity: 0;
}